* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */
.container-header{
    background-color: rgb(42, 94, 232);
    width: 100%;
    display: flex;
    padding: 20px;
    color: white;
    height: 100px;
}

.row-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.row-content{
    display: flex;
    justify-content: center;
    width: 50%;
}

.column-content{
  display: flex;
  justify-content: center;
}

.column-login{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding:10px;
}

/* DIV BG IMAGE */
.container-blu {
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    color: white;
}

.row-image {
    width: 100%;
    display: flex;
    height: 80%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 0 0px;
}

.column-content {
    width: 100%;
    background-color: transparent;
    text-align: center;
    font-weight: 600;
}

.title{
    font-size: 25px;
}    

.scarica{
    color: black;
    font-weight: 600;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.apri{
    color: white;
    font-weight: 600;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
}

/* MAIN */
/* DIV BG WHITE */
.container-white {
    background-color: white;
    width: 100%;
    height:500px;
}

.row-white {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 20px 0 40px 0px;
    margin-top: 40px;
}

.column-content-main {
    width: 40%;
    padding-left: 60px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.title-content{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
}

/* DIV BG GRAY */
.container-gray {
    background-color: rgb(231, 230, 230);
    width: 100%;
    height: 600px;
}

.gray{
    display: flex;
    flex-direction: row-reverse;
}

/* DIV BG GRAY SECOND */
.container-gray-second{
    background-color: lightgray;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.row-gray{
    width: 100%;
    height: 100%;
    padding: 20px 0 40px 0px;
    margin-top: 40px;
}

.avventura{
    padding: 25px 0 40px 0;
    background-image: url(..//img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
}

.scarica-blu {
    color: white;
    font-weight: 600;
    background-color: rgb(116, 140, 217);
    border-radius: 20px;
    padding: 20px;
}

/* FOOTER */
/* DIV BG DARK BLU */
.container-dark-blu {
    background-color: rgb(26, 26, 51);
    width: 100%;
    height: 400px;
    border-bottom: 1px solid rgb(116, 140, 217);
}

.row-dark-blu {
    width: 100%;
    display: flex;
    height: 90%;
    justify-content: center;
    padding: 20px 0 0 10px;
}

.column-one {
    width: 25%;
    color: white;
}

.title-footer {
    color: rgb(116, 140, 217);
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 15px;
}

.bandiera-ita {
    height: 20px;
}

p {
    color: white;
    padding: 4px;
}


.column-other {
    width: 15%;
}

/* DIV WITH LOGO AND REGISTRATI */
.container-dark-blu-footer {
    background-color: rgb(26, 26, 51);
    width: 100%;
    padding: 20px 0 20px 0;
}

.row-footer {
    width: 100%;
    display: flex;
    height: 90%;
    justify-content: center;
}

.column-footer {
    width: 65%;
    background-color: rgb(26, 26, 51);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.column-bottone {
    color: white;
    background-color: rgb(116, 140, 217);
    border-radius: 20px;
    padding: 10px;
}