* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */
.container-header{
    background-color: rgb(42, 94, 232);
    width: 100%;
    display: flex;
    padding: 20px;
    color: white;
    height: 100px;
}

.row-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.row-content{
    display: flex;
    justify-content: center;
    width: 50%;
}

.column-content{
  display: flex;
  justify-content: center;
}

.column-login{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding:10px;
}

/* DIV BG IMAGE */
.container-blu {
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    color: white;
}

.row-image {
    width: 100%;
    display: flex;
    height: 80%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 0 0px;
}

.column-content {
    width: 100%;
    background-color: transparent;
    text-align: center;
    font-weight: 600;
}

.title{
    font-size: 25px;
}    

.scarica{
    color: black;
    font-weight: 600;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.apri{
    color: white;
    font-weight: 600;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
}

/* MAIN */
/* DIV BG WHITE */
.container-white {
    background-color: white;
    width: 100%;
    height:500px;
}

.row-white {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 20px 0 40px 0px;
    margin-top: 40px;
}

.column-content-main {
    width: 40%;
    padding-left: 60px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.title-content{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
}

/* DIV BG GRAY */
.container-gray {
    background-color: rgb(231, 230, 230);
    width: 100%;
    height: 600px;
}

.gray{
    display: flex;
    flex-direction: row-reverse;
}

/* DIV BG GRAY SECOND */
.container-gray-second{
    background-color: lightgray;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.row-gray{
    width: 100%;
    height: 100%;
    padding: 20px 0 40px 0px;
    margin-top: 40px;
}

.avventura{
    padding: 0 0 40px 0;
}

.scarica-blu {
    color: white;
    font-weight: 600;
    background-color: rgb(11, 84, 179);
    border-radius: 20px;
    padding: 20px;
}

/* DIV BG DARK BLU */
/* .container-dark-blu {
    background-color: rgb(4, 4, 96);
    width: 100%;
    height: 250px;
    border-bottom: 3px solid white;
}

.row-dark-blu {
    width: 100%;
    display: flex;
    height: 90%;
    justify-content: center;
    padding: 20px 0 0 10px;
}

.column-rose {
    width: 25%;
    background-color: rosybrown;
    border: 1px dotted black;
}

.column-light-green{
    width: 10%;
    background-color: lightgreen;
    border: 1px dotted white; */


/* FOOTER */
/* .container-dark-blu-footer {
    background-color: rgb(4, 4, 96);
    width: 100%;
    display: flex;
    padding: 20px 0 0;
}

.row-footer {
    width: 100%;
    display: flex;
    height: 90%;
    justify-content: center;
}

.column-footer {
    width: 65%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.footer {
    width: 7%;
    background-color: pink;
    border: 1px dotted black;
} */